.app h1 {
  margin: 1rem 0;
  font-size: 2rem;
  color: #ffe400;
  text-align: center;
  text-decoration: underline;
}
.pg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */

}
.pagination-button{

  /* color: yellow; */
  /* margin-top: 20px; */
  display: inline-flex;
  align-items: center;
  margin: 0 .4rem;
}
button{
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
}
button:hover {
  border-radius: 50%; 
  background-color: rgb(193, 110, 193); 
}